**
!package.json
!package-lock.json
!hi-mcp/
!hi-mcp/package.json
!hi-mcp/tsconfig.base.json
!hi-mcp/hi-mcp-server/
!hi-mcp/hi-mcp-server/package.json
!hi-mcp/hi-mcp-server/tsconfig.json
!hi-mcp/hi-mcp-server/*.ts
!hi-mcp/hi-mcp-chat/
!hi-mcp/hi-mcp-chat/package.json
!hi-mcp/cf/
!hi-mcp/cf/package.json
!minimal-hi-example/
!minimal-hi-example/package.json
**/node_modules
**/.*
**/*.pem
hi-mcp/hi-mcp-server/tests
hi-mcp/hi-mcp-server/*.md
